<div class="row">
  <div class="col-md-4">
    <div class="main-image">
      <img
        [src]="selectedImage"
        [alt]="prodObj.title"
        [title]="prodObj.title"
      />
    </div>
    <div class="row">
      <div class="col-md-12 px-auto">
        <div class="slideImg" *ngFor="let prod of prodObj.images">
          <li>
            <img
              (click)="onimgChnage(prod)"
              [src]="prod"
              [alt]="prodObj.title"
              [title]="prodObj.title"
            />
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <p>{{ prodObj.category }} / {{ prodObj.subcategory }}</p>
    <h5 class="p-0 m-0 mb-4">{{ prodObj.title }}</h5>
    <ul class="product-info">
      <li class="star-review">
        <ul class="star-list">
          <li class="star">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
              <mat-icon *ngIf="prodObj.rating >= star">star</mat-icon>
              <mat-icon
                *ngIf="prodObj.rating >= star - 0.5 && prodObj.rating < star"
                >star_half</mat-icon
              >
              <mat-icon *ngIf="prodObj.rating < star - 0.5"
                >star_border</mat-icon
              >
            </ng-container>
          </li>

          <p class="ml-2">Review ({{ prodObj.reviews_count }})</p>
          <span class="mr-2 ml-2">|</span>
        </ul>
      </li>
      <li><p>Sold:102</p></li>
      <span class="mr-2 ml-2">|</span>
      <li><a routerLink="">View shop</a></li>
    </ul>
    <mat-divider></mat-divider>
    <h3 class="price-info py-2 text-danger">
      {{ prodObj.total_price }}
    </h3>
    <ng-container *ngIf="prodObj.product_specifications; else noProdSpec">
      <ul
        class="p-0"
        *ngFor="let specification of prodObj.product_specifications"
      >
        <li class="specification-list">
          <strong>{{ specification.specification_name }}:</strong>
          {{ specification.specification_value }}
        </li>
      </ul>
    </ng-container>
    <ng-template #noProdSpec>
      <p class="alert alert-danger">No product specification available</p>
    </ng-template>

    <mat-divider></mat-divider>

    <h3 class="py-2">About this item</h3>
    <div>
      <ng-container
        *ngIf="prodObj.product_description; else noSpec"
      ></ng-container>
      <ul class="product-desc">
        <li class="py-2" *ngFor="let about of prodObj.product_description">
          {{ about }}
        </li>
      </ul>
      <ng-template #noSpec>
        <p class="alert alert-danger">No product description available</p>
      </ng-template>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card position-card">
      <div class="card-body">
        <h3 class="text-danger">{{ prodObj.total_price }}</h3>
        <div class="d-flex">
          <mat-icon class="mr-1">local_shipping</mat-icon>
          <p>Free Shipping</p>
        </div>
        <div class="shipping-to">
          <p>shipping to:</p>
          <div class="address-cur">
            <div class="address-cur-item">
              <select class="select-default">
                <option selected>Home</option>
                <option>Office</option>
              </select>
            </div>
          </div>
        </div>
        <div class="count mr-2">
          <p class="mr-2 m-0 my-auto">Quantity:</p>
          <span (click)="onMinus()" class="box boxMinus"
            ><mat-icon>remove</mat-icon></span
          >
          <span class="box">{{ value }}</span>
          <span (click)="onAdd()" class="box boxAdd"
            ><mat-icon>add</mat-icon></span
          >
        </div>
        <div class="addtocartbutton">
          <button class="btn btn-block" mat-raised-button color="warn">
            Add to Cart <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="btn btn-block"
            mat-raised-button
            style="background-color: #333e48; color: #fff"
          >
            Buy Now
          </button>
        </div>

        <div class="details">
          <p>Details:</p>
          <div class="returnpolicy">
            <strong class="my-auto">Return Policy:</strong>
            <ng-container
              *ngIf="prodObj.return_policy; else noPolicy"
            ></ng-container>
            <small>{{ prodObj.return_policy }}</small>
            <ng-template #noPolicy>
              <p class="alert alert-danger">No Return Policy On this Product</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-tab-group>
      <mat-tab label="Description">
        <ul *ngFor="let desc of prodObj.product_description">
          <li>
            {{ desc }}
          </li>
        </ul>
      </mat-tab>
      <mat-tab label="Product Information">{{
        prodObj.product_details
      }}</mat-tab>
    </mat-tab-group>
  </div>
</div>
