.main-image {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.product-info {
  list-style: none;
  display: flex;
  padding: 0;
  .star-list {
    list-style: none;
    display: flex;
    padding: 0;
    .star {
      color: #fcb500;
    }
  }
}

.price-info {
  .strike {
    text-decoration: line-through;
  }
}

.specification-list {
  list-style: none;
}

.product-desc {
  padding-left: 20px;
}

.shipping-to {
  display: flex;
  .address-cur {
    display: flex;
    cursor: pointer;
    .select-default {
      border: unset;
    }
  }
}
.count {
  display: flex;
  margin-bottom: 20px;
  .box {
    width: 40px;
    height: 40px;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxMinus {
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
  }
  .boxAdd {
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
  }
}

.addtocartbutton {
  margin-bottom: 20px;
}

.details {
  .returnpolicy {
    display: flex;
  }
}
.slideImg {
  width: 100px;
  height: 100px;
  display: inline-flex;
  margin: 10px;
  cursor: pointer;
  justify-content: center;
  border: 1px solid black;
  li {
    list-style: none;
    display: inline-block;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
